.header__logo {
  padding-bottom: 41px;
}

@media screen and (max-width: 1024px) {
  .header__logo {
    padding-left: 27px;
    padding-bottom: 32px;
  }
}

@media screen and (max-width: 320px) {
  .header__logo {
    max-width: 104px;
    min-height: 24px;
  }
}
