.auth__form {
  max-width: 358px;
  width: 100%;
  position: relative;
  margin: auto;
  border-radius: 3%;
  box-sizing: border-box;
  text-align: left;
}

@media screen and (max-width: 600px) {
  .auth__form {
    max-width: 260px;
    width: 100%;
  }
}