.header__info {
  /* margin: 0;
  padding: 0; */
  color: #FFF;
  background-color: rgba(0, 0, 0, 0);
  text-align: right;
  font-family: Inter;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 22px;
  display: inline-flex;
}