.header__burger-button {
  margin: 0 30px 0 0;
  width: 24px;
  height: 24px;
  background-image: url(../../../images/BurgerButton.svg);
  background-size: cover;
  background-color: rgba(0, 0, 0, 0);
  border: 0;
  display: none;
  transition: opacity .4s linear;
}

.header__burger-button:hover {
  opacity: .6;
}

@media screen and (max-width: 600px) {
  .header__burger-button {
    display: flex;
  }
}