.auth__button {
  width: 100%;
  height: 50px;
  background: #FFF;
  border-radius: 2px;
  text-align: center;
  font-size: 18px;
  font-family: Inter;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  color: #000;
  border: 0;
  cursor: pointer;
  margin-top: 216px;
}

@media screen and (max-width: 600px) {
  .auth__button {
    margin-top: 173px;
    width: 100%;
    height: 46px;
  }
}