.header__info-container {
  display: flex;
  justify-content: space-between;
}

@media screen and (max-width: 600px) {
  .header__info-container {
    display: none;
  }
}

@media screen and (max-width: 600px) {
  .header__info-container {
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0;
    position: absolute;
    top: 0;
    left: 0;
    margin: auto;
  }
}