.auth__log-in {
  margin: 0;
  padding: 0;
  color: #FFF;
  text-align: center;
  font-size: 14px;
  font-family: Inter;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-top: 15px;
}